
.mdc-top-app-bar{
    padding-left: var(--mdc-layout-grid-margin-desktop);
    padding-right: var(--mdc-layout-grid-margin-desktop);
}

.navList {
    list-style: none;
    height: 32px;
    padding-left: 0;
}

.mdc-typography--button{
    @include mdc-button-ink-color(#ffffff);
}

.navListItem {
    display: inline-block;
    margin: 0 0 0 8px;
}